<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Automation/CROWN/src/CROWN/CICOD/COM/Administration/ADD_ROLE.java"><classes><class name="CROWN.CICOD.COM.Administration.ADD_ROLE"><methods><include name="login"/><include name="CustomerOrderManagement"/><include name="AdministrationModule"/><include name="RoleManagement"/><include name="AddRoleButton"/><include name="RoleName"/><include name="ClickAll"/><include name="AddButton"/><include name="AssertAddRole"/></methods></class></classes></test></suite>